@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');

//FONTS
$sans: 'Open Sans', sans-serif;
$serif: 'Playfair Display', serif;

//COLORS
$oxblood: #76323F;
$pale-oxblood: #A68083;
$blackboard: #565656;
$slate: #353535;
$grain: #D7CEC7;
$tan: #C09F80;

$stormy: #494E6B;
$twilight: #372228;
$evening: #192231;
$night: #0B1016;
$black: #000;
$white: #fff;
$grey: #606060;
$light-grey: #bcbcbc;

$oxblood-opaque: rgba(118, 50, 63, 0.5);
$pale-oxblood-opaque: rgba(166, 128, 131, 0.6);
$black-opaque: rgba(0, 0, 0, 0.6);
$black-opaque-2: rgba(0, 0, 0, 0.8);
$black-opaque-3: rgba(0, 0, 0, 0.01);
$black-opaque-4: rgba(0, 0, 0, 0.9);
$white-opaque: rgba(255, 255,255, 0.35);
$white-opaque-2: rgba(229, 229, 229, 0.75);

$night-opaque: rgba(11, 16, 22, 0.3);

$snowy-sky: #949494

