/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#Nav {
  width: 100vw;
  height: 50px;
  background-color: #D7CEC7;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center; }
  #Nav #logo {
    height: 50px;
    position: absolute;
    left: 10px; }
  #Nav span,
  #Nav a {
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #565656;
    font-family: "Playfair Display", serif;
    font-size: 20px; }
  #Nav .logInOut {
    background-color: rgba(118, 50, 63, 0.5); }
    #Nav .logInOut:hover {
      background-color: #68432B;
      color: #D7CEC7; }

#BookPage {
  padding: 0;
  margin: 0;
  height: 700px;
  overflow: hidden;
  background-color: #D7CEC7; }

#Bookmark {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0; }
  #Bookmark img {
    width: 80px;
    height: 150px; }
  #Bookmark a {
    width: 50px;
    height: 150px;
    position: absolute;
    top: 0px;
    right: 15px;
    padding-top: calc(75px - 50px);
    color: #fff;
    line-height: 1.2em;
    text-decoration: none;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 18px; }

.Illustrations {
  width: 1300px;
  height: 700px;
  background-image: url("https://static1.squarespace.com/static/586ae5e4725e250e1db6a07a/t/586b0f95ff7c50bb14e6422e/1483411382624/Blue+Skies.png?format=1500w");
  background-size: cover; }
  .Illustrations button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #76323F;
    color: #D7CEC7;
    border: none;
    border-radius: 30%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    padding: 0; }
    .Illustrations button:focus {
      outline: none; }
    .Illustrations button:hover {
      background-color: #68432B; }
  .Illustrations #forward {
    bottom: 55px; }
  .Illustrations #backward {
    transform: scaleY(-1); }
  .Illustrations #BookViewer {
    width: 1300px;
    height: 700px; }
    .Illustrations #BookViewer div {
      background-color: #D7CEC7;
      position: fixed; }
  .Illustrations .top {
    width: 100vw;
    height: 20px;
    top: 0px;
    left: 0px; }
  .Illustrations .left {
    width: 125px;
    height: calc(1300px - 40px);
    top: 20px;
    left: 0px; }
  .Illustrations .right {
    width: calc(100vw - 125px - 1050px);
    height: calc(1300px - 40px);
    top: 20px;
    left: calc(125px + 1050px); }
  .Illustrations .bottom {
    width: 100vw;
    height: calc(100vw - 20px - 640px);
    top: calc(20px + 660px);
    left: 0px; }

#Book1 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll; }
  #Book1 .layer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    /* ... and so is adding some extra space for scrolling ... */
    padding-top: 10vh;
    padding-bottom: 100vh; }

#Book4 {
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: hidden; }
  #Book4 p {
    width: 300px;
    padding: 10px 30px;
    min-height: 80px;
    color: #353535;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-size: 25px;
    border-radius: 20px;
    line-height: 1.2em;
    position: absolute; }
  #Book4 .layer {
    position: absolute;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 3150px;
    height: 700px;
    bottom: 0px;
    left: -825px;
    right: 0;
    padding: 0; }
  #Book4 .background {
    opacity: 0;
    bottom: 0px; }
  #Book4 .page1 {
    transform: scale(1);
    perspective: 1px; }
    #Book4 .page1 p {
      top: 100px;
      left: 200px; }
  #Book4 .page1second {
    transform: scaleX(-1) scaleY(1);
    height: 710px;
    bottom: 20px; }
  #Book4 .page2 {
    transform: scale(0.55);
    bottom: -125px; }
    #Book4 .page2 p {
      top: 500px;
      left: 600px; }
  #Book4 .page2second {
    transform: scaleX(-0.55) scaleY(0.55);
    height: 710px;
    bottom: -125px; }
  #Book4 .page3,
  #Book4 .page4,
  #Book4 .page5,
  #Book4 .page6 {
    transform: scale(0.5);
    bottom: -142px; }
  #Book4 .page3second,
  #Book4 .page4second,
  #Book4 .page5second,
  #Book4 .page6second {
    transform: scaleX(-0.5) scaleY(0.5);
    height: 710px;
    bottom: -142px; }
  #Book4 .page3 p {
    top: 40px;
    left: 30px; }
  #Book4 .page4 p {
    top: 40px;
    left: 30px; }
  #Book4 .page5 p {
    color: #fff;
    top: 100px;
    left: 200px; }
  #Book4 .page6 p {
    top: 120px;
    left: 120px; }

#Landing {
  background-color: #76323F;
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  #Landing h1 {
    width: 100vw;
    height: 100px;
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    text-align: center;
    text-shadow: -1px -1px 0 #C09F80, 1px -1px 0 #C09F80, -1px 1px 0 #C09F80, 1px 1px 0 #C09F80; }
  #Landing h2 {
    width: 100vw;
    height: 50px;
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    text-align: center; }

#Shelf {
  width: 100vw;
  min-height: calc(100vw - 50px);
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  #Shelf ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 20px; }
    #Shelf ul li {
      width: 100%;
      display: flex;
      justify-content: center; }
    #Shelf ul .book {
      width: 250px;
      height: 250px;
      position: relative;
      margin: 30px 20px; }
    #Shelf ul .bookOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      text-align: center;
      text-shadow: -1px -1px 0 #C09F80, 1px -1px 0 #C09F80, -1px 1px 0 #C09F80, 1px 1px 0 #C09F80;
      font-family: "Playfair Display", serif;
      font-size: 30px;
      color: #000; }
      #Shelf ul .bookOverlay:hover {
        background-color: rgba(166, 128, 131, 0.6);
        transform: scale(1.1); }

@media (min-width: 600px) {
  #Shelf ul {
    justify-content: flex-start; }
    #Shelf ul li {
      width: 50%; } }

@media (min-width: 830px) {
  #Shelf ul li {
    width: 33.3%; } }

@media (min-width: 1120px) {
  #Shelf ul li {
    width: 25%; } }

@media (min-width: 1420px) {
  #Shelf ul li {
    width: 20%; } }

#Shelf .book {
  background-image: url("./images/book_cover.jpg");
  background-size: cover;
  background-origin: center;
  background-repeat: none; }
